<p
  class='text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]'
>
  Hola! Soy <span class='text-yellow-200/90'
    >Franco Ojeda</span
  >, un apasionado estudiante autodidacta de <span
    class='text-yellow-200/90'>Desarrollo Web</span
  > con un enfoque destacado en las tecnologías basadas en JavaScript.
  Actualmente, estoy cursando la <span
    class='text-yellow-200/90'
    >Técnicatura Universitaria en Tecnologías de la
    Información</span
  >, con el primer cuatrimestre ya aprobado.
  <p
    class='text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px] mt-4'
  >
    Mis Hobbies son leer y jugar videojuegos online.
  </p>
</p>
